* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(9, 65, 87), rgb(8, 119, 163));
}

.card {
    position: relative;
    width: 350px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
    padding: 20px;
}

.card .content {
    display: flex;
    align-items: center;
}

.card .content .profile {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    overflow: hidden;
}

.card .content .profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card .content h2 {
    margin-left: 15px;
    font-size: 400;
    color: #999;
}

.nav {
    position: relative;
    top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.nav li {
    list-style: none;
    margin: 15px 0;
}

.nav li a {
    text-decoration: none;
    color: #555;
    font-size: 1.1em;
    transition: color 0.25s;
}

.nav li a:hover {
    color: #36B3FF;
}

.toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #36B3FF;
    border-end-end-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle * {
    color: #FFF;
    font-size: 1.4em;
}